body {
	margin: 0;
}

#top {
	width: 100vw;
	height: 100vh;
	background-color: #20232a;
	text-align: center;
}

#top_main {
	position: relative;
	top: calc(50% - 226px);
}

#title {
	margin: 0 0 75px 0;
	font-family: Arial;
	font-size: 90px;
	background-color: #00b4eb;
	color: #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 6px 6px 0 #000;
}

.desc {
	margin: 10px 0;
	font-family: Arial;
	font-size: 27px;
	color: #fff;
}

#color_picker_starter {
	margin: 30px 0 0 0;
	width: 55px;
	height: 50px;
	background-color: #00b4eb;
	border: 2px solid #fff;
	outline: 0;
	cursor: pointer;
}

.color_input_bg {
	background-color: #fff;
}

#top_links {
	margin: 30px 0;
}

.links {
	margin: 0 10px;
	width: 170px;
	height: 45px;
	background: 0;
	border: 2px solid #fff;
	border-radius: 20px;
	outline: 0;
	font-weight: 600;
	font-size: 16px;
	color: #fff;
	cursor: pointer;
}

#github_icon {
	margin: 0 0 -10px 0;
	position: relative;
	bottom: 4px;
	right: 5px;
}
