/*
 * Media Query for screen sizes 366 pixels or less
 */

@media only screen and (max-width: 366px) {
	#color_picker {
		min-height: 488px;
		top: calc(50% - 244px);
	}

	#color_picker {
		#color_picked_preview {
			position: relative;
			margin: 0;
			left: calc(50% - 15px);
			bottom: 7px;
		}

		#sliders {
			margin: 0 0 0 32px;
		}

		#switch_color_type {
			right: 20px;
		}

		#custom_colors {
			padding: 0 24px;
		}

		#custom_colors_title {
			margin: 14px 5px;
		}

		#custom_colors_add {
			right: 40px;
		}

		#custom_colors_preview {
			width: 20px;
			height: 20px;
		}
	}
}
