/*
 * Animations
 */

// Fade in
@include keyframes(fadeIn) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}

// Animation to resemble it popping up and back down, like a bounce effect
@include keyframes(popUp) {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}
