/*
 * Styling for inputs
 */

#color_picker {
	input {
		height: 30px;
		border: 1px solid #ccc;
		outline: none;
		font-family: monospace;
		font-size: 12px;
		color: #333;
		text-align: center;
	}

	input:focus {
		outline: 2px solid #9c9c9c !important;
	}

	/* Remove spinner buttons */

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type='number'] {
		-moz-appearance: textfield;
	}
}
