/*!
 * Colr Pickr
 *
 * R-TEK
 * 
 * https://github.com/R-TEK/colr_pickr
 * 
 * MIT License
 */

@import 'config';
@import 'animations';
@import 'inputs';

#color_picker {
	display: none;
	position: fixed;
	width: 267px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0.15em 1.5em 0px, rgba(0, 0, 0, 0.03) 0px 0px 1em 0px;
	z-index: 99999;
	@include no-select;
	@include animation(popUp ease 0.2s);
}

#color_picker {
	#sliders {
		width: 263px;
		height: 48px;
	}

	#color_slider {
		position: relative;
		bottom: 1px;
	}

	#color_text_values {
		padding: 3px 0 2px 0;
		border-top: 1px solid #ccc;
		outline: none;
		text-align: center;
	}

	#switch_color_type {
		position: absolute;
		padding: 0;
		right: 9px;
		width: 24px;
		height: 23px;
		top: 200px;
		background: none;
		border: none;
		cursor: pointer;
	}

	.label_text {
		position: relative;
		margin: 0 !important;
		height: 15px;
		top: 2px;
		font-family: $font;
		font-size: 12px;
		color: $light-text;
	}

	#hex_input {
		width: 100px;
	}

	.rgba_divider,
	.hsla_divider {
		display: inline-block;
	}

	.rgba_input,
	.hsla_input {
		margin: 0 1px;
		width: 35px;
	}

	#custom_colors {
		border-top: 1px solid #ccc;
		text-align: left;
	}

	#custom_colors_header {
		height: 35px;
	}

	#custom_colors_pallet_icon {
		margin: 9px 11px;
	}

	#custom_colors_add {
		display: inline-block;
		position: absolute;
		margin: 6px 0;
		padding: 0;
		width: 24px;
		height: 23px;
		right: 9px;
		background: none;
		border: none;
		outline: none;
		cursor: pointer;
	}

	#custom_colors_box {
		padding: 0 0 0 10px;
	}

	.custom_colors_preview {
		position: relative;
		margin: 0 7px 6px 0;
		width: 18px;
		height: 18px;
		top: 1px;
		border: 1px solid #d0d0d0;
		border-radius: 3px;
		outline: none;
		cursor: pointer;
		transition: $quickTransition;
	}

	.custom_colors_preview:hover {
		transform: $hoverEnlarge;
	}

	.custom_colors_preview:focus {
		transform: $hoverEnlarge;
	}

	#color_context_menu {
		display: none;
		position: fixed;
		padding: 3px 0;
		width: 115px;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	#color_clear_single,
	#color_clear_all {
		padding: 4px;
		width: 100%;
		background: none;
		border: none;
		outline: none;
		font-family: $font;
		font-size: 12px;
		color: $dark-text;
		text-align: left;
		cursor: pointer;
	}

	#color_clear_single:hover,
	#color_clear_all:hover {
		background-color: #ececec;
	}

	.add_outline:focus {
		outline: 1px solid #007cff !important;
	}

	.remove_outline {
		outline: none;
	}
}
